*{
    font-family: "Outfit";
}
body{
    width: 1440px;
    background-color: hsl(212, 45%, 89%);
    
}
#card{
    margin: auto;
    display: block;
    width: 350px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}

#card img{
    border-radius: 20px;
    margin-top: 20px;
    width: 325px;
    height: 300px;
}

p{
    font-size: 15px;color:hsl(220, 15%, 55%)
}
#texto1{
    color:hsl(218, 44%, 22%)

}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-device-width: 900px) {
   body{
    width: auto;
  }
}